@using BusesControl.Models.Enums
<link rel="stylesheet" href="~/css/cliente.css">
<link rel="stylesheet" href="~/css/home.css">
@model List<PessoaFisica>
@if (TempData["MensagemDeSucesso"] != null) {
    <div class="alert alert-success" role="alert">
        @TempData["MensagemDeSucesso"]
        <button type="button" class="btn btn-danger btn-sm close-alert sucesso" aria-label="Close"> <i class="fa fa-xmark"></i> </button>
    </div>
}
@if (TempData["MensagemDeErro"] != null) {
    <div class="alert alert-danger" role="alert">
        @TempData["MensagemDeErro"]
        <button type="button" class="btn btn-danger btn-sm close-alert erro" aria-label="Close"> <i class="fa fa-xmark"></i> </button>
    </div>
}
<section class="clientes">
    <!--Cadastro, edição e desativação de clientes-->
    @if (Model.Any(x => x.Status == StatuCliente.Habilitado)) {
        <h3 id="bac">
            <i class="fa fa-users"></i> @ViewData["Title"]
            <hr style="margin-top: 3px;">
        </h3>
    }
    else if (Model.Any(x => x.Status == StatuCliente.Desabilitado)){
        <h3 id="bac" style="color: red;">
            <i class="fa fa-users"></i> @ViewData["Title"]
            <hr style="margin-top: 3px;">
        </h3>
    }
    else {
        <h3 id="bac">
            <i class="fa fa-users"></i> @ViewData["Title"]
            <hr style="margin-top: 3px;">
        </h3>
    }
    <div class="cliente">
        <div class="flex-item">
            <div class="test1">
                <a asp-controller="Cliente" asp-action="Index" class="btn filtrar_btn enum">Habilitados</a>
                <a asp-controller="Cliente" asp-action="Desabilitados" class="btn filtrar_btn noCheck" type="submit">Desabilitados</a>
            </div>
            <div class="test1">
                <a type="submit" class="btn filtrar_btn" asp-controller="Cliente" asp-action="NovoCliente">
                    + Pessoa física
                </a>
                <a type="submit" class="btn filtrar_btn" asp-controller="Cliente" asp-action="IndexJuridico">
                    Listar pessoa jurídica
                </a>
            </div>
        </div>
        <table id="table-cliente" class="table shadow-sm p-3 mb-5 bg-white rounded">
            <thead>
                <tr>
                    <th style="font-size: 9pt;" scope="col">Id</th>
                    <th style="font-size: 9pt;" scope="col">Nome</th>
                    <th style="font-size: 9pt;" scope="col">Telefone</th>
                    <th style="font-size: 9pt;" scope="col">Cidade</th>
                    <th style="font-size: 9pt;" scope="col">Opção</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any()) {
                    foreach (PessoaFisica cliente in Model) {
                        <tr class="row-hover">
                            <td scope="row">@cliente.Id</td>
                            <td>@cliente.Name</td>
                            <td>@cliente.ReturnTelefoneCliente()</td>
                            <td>@cliente.Cidade</td>
                            <td>
                                @if (cliente.Status == StatuCliente.Habilitado) {
                                    <a class="link" asp-action="EditarCliente" asp-route-id="@cliente.Id"><i class="fa fa-edit" style="font-size: 12pt;"></i></a>
                                    <a title="Visualizar" class="link-trash" asp-action="Desabilitar" asp-route-id="@cliente.Id"><i class="fa fa-user-slash"></i></a>
                                }
                                else {
                                    <a class="link" asp-action="Habilitar" asp-route-id="@cliente.Id"><i class="fa fa-user"></i></a>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</section>
<script src="~/js/site.js"></script>
<script src="~/js/jquery.min.js"></script>
@section Scripts{
    <script>
        $(document).ready(function() {
            $('#table-cliente').DataTable({
                "ordering": true,
                "paging": true,
                "searching": true,
                "oLanguage": {
                    "sEmptyTable": "Não existe registros no sistema.",
                    "sInfo": "",
                    "sInfoEmpty": "",
                    "sInfoFiltered": "",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Sua pesquisa não encontrou nenhum registro correspondente.",
                    "sSearch": "Pesquisar:  ",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                }
            });
        });
    </script>
}