@using BusesControl.Models.Enums
@model Funcionario
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                @if (Model.Cargos == CargoFuncionario.Administrador) {
                    <li class="nav-item linha">
                        <a class="nav-link linkMenu" asp-area="" asp-controller="Relatorio" asp-action="Index"><i class="fa fa-file-contract" style="margin-right: 3px;"></i> Relatórios</a>
                    </li>
                    <li class="nav-item linha">
                        <a class="nav-link linkMenu clear-filtros" asp-area="" asp-controller="Financeiro" asp-action="Index"><i class="fa fa-dollar-sign" style="margin-right: 3px;"></i> Financeiro</a>
                    </li>
                    <li class="nav-item linha">
                        <a class="nav-link linkMenu" style="color: transparent; opacity: 0;">#</a>
                    </li>
                    @if (string.IsNullOrEmpty(Model.Apelido)) {
                        <li class="nav-item linha">
                            <a class="nav-link linkMenu upercase" data-toggle="modal" data-target="#janelaModalPerfil" href="#"><i class="fa fa-user-tie" style="margin-right: 3px;"></i>  @Model.Name</a>
                        </li>
                    }
                    else {
                        <li class="nav-item linha">
                            <a class="nav-link linkMenu upercase" data-toggle="modal" data-target="#janelaModalPerfil" href="#"><i class="fa fa-user-tie" style="margin-right: 3px;"></i>  @Model.Apelido</a>
                        </li>
                    }
                }
                else {
                    @if (string.IsNullOrEmpty(Model.Apelido)) {
                        <li class="nav-item linha">
                            <a class="nav-link linkMenu upercase" data-toggle="modal" data-target="#janelaModalPerfil" href="#"><i class="fa fa-user-tie" style="margin-right: 3px;"></i>  @Model.Name</a>
                        </li>
                    }
                    else {
                        <li class="nav-item linha">
                            <a class="nav-link linkMenu upercase" data-toggle="modal" data-target="#janelaModalPerfil" href="#"><i class="fa fa-user-tie" style="margin-right: 3px;"></i>  @Model.Apelido</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</nav>
<div id="janelaModalPerfil" class="modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content perfil-body">
            <div class="modal-header">
                @if (Model.Cargos == CargoFuncionario.Administrador) {
                    <h4 class="modal-title font">
                        <i class="fa fa-user-tie"></i> Perfil Administrador
                    </h4>
                }
                else {
                    <h4 class="modal-title font">
                        <i class="fa fa-user-tie"></i> Perfil Assistente
                    </h4>
                }
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="font-min">
                    <b>Nome:</b> @Model.Name <br>
                    <b>Email:</b> @Model.Email <br>
                    <b>Data de nascimento:</b> @Html.DisplayFor(model => model.DataNascimento)
                </p>
            </div>
            <div class="modal-footer foote">
                <a class="btn btn-senha" asp-controller="MudarSenha" asp-action="Index">Alterar senha</a>
                <a class="btn btn-senha" data-toggle="modal" data-target="#janelaModalApelido" href="#" data-dismiss="modal" aria-label="Close">Incluir apelido</a>
            </div>
        </div>
    </div>
</div>
<div id="janelaModalApelido" class="modal">
    <form asp-controller="Apelido" asp-action="InserirApelido" method="post">
        <input type="hidden" asp-for="Id">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title font">
                        Registro de apelido
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body d-inline-flex">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="radius-none">
                            <i class="fa fa-user-tie"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control" id="radius-none" placeholder="Informe o seu apelido." maxlength="25" asp-for="Apelido">
                </div>
                <div class="modal-footer foote2 justify-content-end">
                    <button class="btn btn-outline-primary ms-3 btn-apelido" type="submit">Incluir</button>
                    <br>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="~/js/jquery.min.js"></script>